@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
:root {
  --primary: coral;
  --secondary: #3667e9;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcd9d8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#bcd9d8;
}

@media only screen and (max-width: 1336px){
  
  *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
}

.loginLanding {
  /* background: url("../images/loginBackground.jpeg"); */
  background: #FFFFFF;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.Card1 {
  background: url("../images/logintree.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 12px 0 0 12px;
  z-index: 10;
}

.Card2 {
  background: url("../images/signup.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 0 12px 12px 0;
}
